  /* h2 {
            color: brown
        }

        h1{
            color: violet;
        }
        #id2 {
            color: cornflowerblue;
        }
        .heading{
            color: darkblue;
        }
        h4,p,u,i,b {
            color: coral;
        }
        *{color: darkred;} */

        
         